__pycache__/
*.pyc
pyvenv.cfg
main_old.py
venv/
draft/
draft2/
reference_solution/
test/
paper/
results/
structure.yaml
results1/
results2/
results3/
results4/
results5/
results6/
results7/
results8/
results9/
results10/
results20/
results21/
results22/
results23/
results24/
results25/
results26/
results27/
results28/
results29/
output_HH.Hoang_20224988/
output_L.S.Linh_20225029/
# pareto/
pareto_comparison/
summary_csv/
report/*.docx
report/~$*